<web-app>
	<welcome-file-list>
		<welcome-file>home</welcome-file>
	</welcome-file-list>
	<servlet>
		<servlet-name>Home</servlet-name>
		<servlet-class>view.HomeServlet</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>About</servlet-name>
		<servlet-class>view.AboutServlet</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>AddCategory</servlet-name>
		<servlet-class>view.AddCategoryServlet</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>AddPost</servlet-name>
		<servlet-class>view.AddPostServlet</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>CategoryPosts</servlet-name>
		<servlet-class>view.CategoryPostsServlet</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>Contact</servlet-name>
		<servlet-class>view.ContactServlet</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>Dashboard</servlet-name>
		<servlet-class>view.DashboardServlet</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>EditCategory</servlet-name>
		<servlet-class>view.EditCategoryServlet</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>EditPost</servlet-name>
		<servlet-class>view.EditPostServlet</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>ManageCategories</servlet-name>
		<servlet-class>view.ManageCategoriesServlet</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>ManagePosts</servlet-name>
		<servlet-class>view.ManagePostsServlet</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>Post</servlet-name>
		<servlet-class>view.PostServlet</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>SignIn</servlet-name>
		<servlet-class>view.SignInServlet</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>SignUp</servlet-name>
		<servlet-class>view.SignUpServlet</servlet-class>
	</servlet>	
	<servlet>
		<servlet-name>User</servlet-name>
		<servlet-class>view.UserServlet</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>HomeServlet</servlet-name>
		<servlet-class>controller.HomeController</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>AboutServlet</servlet-name>
		<servlet-class>controller.AboutController</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>AddCategoryServlet</servlet-name>
		<servlet-class>controller.AddCategoryController</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>AddPostServlet</servlet-name>
		<servlet-class>controller.AddPostController</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>CategoryPostsServlet</servlet-name>
		<servlet-class>controller.CategoryPostsController</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>ContactServlet</servlet-name>
		<servlet-class>controller.ContactController</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>DashboardServlet</servlet-name>
		<servlet-class>controller.DashboardController</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>DeleteCategoryServlet</servlet-name>
		<servlet-class>controller.DeleteCategoryController</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>DeletePostServlet</servlet-name>
		<servlet-class>controller.DeletePostController</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>EditCategoryServlet</servlet-name>
		<servlet-class>controller.EditCategoryController</servlet-class>
	</servlet>	
	<servlet>
		<servlet-name>EditPostServlet</servlet-name>
		<servlet-class>controller.EditPostController</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>ManagePostsServlet</servlet-name>
		<servlet-class>controller.ManagePostsController</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>PostServlet</servlet-name>
		<servlet-class>controller.PostController</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>SignInServlet</servlet-name>
		<servlet-class>controller.SignInController</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>SignUpServlet</servlet-name>
		<servlet-class>controller.SignUpController</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>UserServlet</servlet-name>
		<servlet-class>controller.UserController</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>LogoutServlet</servlet-name>
		<servlet-class>controller.LogoutController</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>ProfileServlet</servlet-name>
		<servlet-class>controller.ProfileServlet</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>GetUserCategoriesServlet</servlet-name>
		<servlet-class>controller.GetUserCategoriesController</servlet-class>
	</servlet>
	<filter>
		<filter-name>ServletFilter</filter-name>
		<filter-class>ServletFilter</filter-class>
	</filter>
	<servlet-mapping>
		<servlet-name>Home</servlet-name>
		<url-pattern>/home</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>About</servlet-name>
		<url-pattern>/about</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>AddCategory</servlet-name>
		<url-pattern>/addcategory</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>AddPost</servlet-name>
		<url-pattern>/addpost</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>CategoryPosts</servlet-name>
		<url-pattern>/categoryposts</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>Contact</servlet-name>
		<url-pattern>/contact</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>Dashboard</servlet-name>
		<url-pattern>/dashboard</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>EditCategory</servlet-name>
		<url-pattern>/editcategory</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>EditPost</servlet-name>
		<url-pattern>/editpost</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>ManageCategories</servlet-name>
		<url-pattern>/managecategories</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>ManagePosts</servlet-name>
		<url-pattern>/manageposts</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>Post</servlet-name>
		<url-pattern>/post</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>SignIn</servlet-name>
		<url-pattern>/signin</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>SignUp</servlet-name>
		<url-pattern>/signup</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>User</servlet-name>
		<url-pattern>/user</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>HomeServlet</servlet-name>
		<url-pattern>/homecontroller</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>AboutServlet</servlet-name>
		<url-pattern>/aboutcontroller</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>AddCategoryServlet</servlet-name>
		<url-pattern>/addcategorycontroller</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>AddPostServlet</servlet-name>
		<url-pattern>/addpostcontroller</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>CategoryPostsServlet</servlet-name>
		<url-pattern>/categorypostscontroller</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>ContactServlet</servlet-name>
		<url-pattern>/contactcontroller</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>DashboardServlet</servlet-name>
		<url-pattern>/dashboardcontroller</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>DeleteCategoryServlet</servlet-name>
		<url-pattern>/deletecategorycontroller</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>DeletePostServlet</servlet-name>
		<url-pattern>/deletepostcontroller</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>EditCategoryServlet</servlet-name>
		<url-pattern>/editcategorycontroller</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>EditPostServlet</servlet-name>
		<url-pattern>/editpostcontroller</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>ManagePostsServlet</servlet-name>
		<url-pattern>/managepostscontroller</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>PostServlet</servlet-name>
		<url-pattern>/postcontroller</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>SignInServlet</servlet-name>
		<url-pattern>/signincontroller</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>SignUpServlet</servlet-name>
		<url-pattern>/signupcontroller</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>UserServlet</servlet-name>
		<url-pattern>/usercontroller</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>LogoutServlet</servlet-name>
		<url-pattern>/logoutcontroller</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>ProfileServlet</servlet-name>
		<url-pattern>/profileservlet</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>GetUserCategoriesServlet</servlet-name>
		<url-pattern>/getusercategoriescontroller</url-pattern>
	</servlet-mapping>	
	<filter-mapping>
		<filter-name>ServletFilter</filter-name>
		<servlet-name>*</servlet-name>
	</filter-mapping>
</web-app>

